<% if flash[:notice] %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>

<body>
  <main>
    <div class="container">
      <div class="row">
        <%= render 'searches/genre', class: 'text-left' %>
        <div class="col-md-6 mt-5 mb-5 text-center">
          <h1>ようこそながのCAKEへ！</h1>
            <p>このサイトはケーキ販売のECサイトになります。</p>
            <p>会員でない方も商品の閲覧はできますが、</p>
            <p>購入には会員登録が必要になります。</p>

            <h4><b>♫新着商品♫</b></h4>
            <table>
              <tr>
                <% @items.order(created_at: :desc). limit(4).each do |item|%>
                  <td>
                    <div class="card w-100 bg-transparent border-0" style="width: 18rem;">
                      <%= link_to(image_tag(url_for(item.image), alt: item.name, size: "200x180"), item_path(item)) if item.image.attached? %>
                      <div class="card-body">
                        <p class="item-details item-name card-text"><%= item.name %></p>
                        <% if item.is_active == true %>
                          <p class="item-details card-text"><%= item.price %>円(税込)</p>
                        <% else %>
                          <p class="text-danger font-weight-bold card-text">販売停止中</p>
                        <% end %>
                      </div>
                    </div>
                  </td>
                <% end %>
              </tr>
            </table>
            <%= link_to "すべての商品を見る>>>", items_path %>
        </div>
      </div>
    </div>
  </main>
</body>

