<div class="container">
  <h3 class="py-3">注文履歴詳細</h3>
  <%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
    <div class="row">
      <label class="col-lg-3">購入者</label>
      <div class="col-lg-3">
        <%= @order.customer.last_name %><%= @order.customer.first_name %>
      </div>
    </div>
    <div class="row">
      <label class="col-lg-3">注文日</label>
      <div class="col-lg-3">
        <%= l @order.created_at, format: :month_day %>
      </div>
    </div>
    <div class="row">
      <label class="col-lg-3">配送先</label>
      <div class="col-lg-3">
        〒 <%= @order.postal_code %> <%= @order.address %><br />
        <%= @order.name %>
      </div>
    </div>
    <div class="row">
      <label class="col-lg-3">支払い方法</label>
      <div class="col-lg-3">
        <%= @order.payment_method_i18n %>
      </div>
    </div>
    <div class="row mb-4">
      <label class="col-lg-3">注文ステータス</label>
      <div class="col-lg-3">
        <%= f.select :status, Order.statuses_i18n.invert %>
        <%= f.submit "更新", class: "btn btn-success ml-2" %>
      </div>
    </div>
    <% end %>

    <table class="table">
      <thead>
        <tr>
          <td class="table-active">商品名</td>
          <td class="table-active">単価(税込)</td>
          <td class="table-active">数量</td>
          <td class="table-active">小計</td>
          <td class="table-active">製作ステータス</td>
        </tr>
      </thead>

      <tbody>
        <% @sum = 0 %>
        <% @order.order_details.each do |order_detail| %>
          <% @sum += order_detail.item.with_tax_price * order_detail.amount %>
          <%= form_with model: order_detail , url: admin_order_detail_path(order_detail.id) , method: :patch , local: true do |f| %>
          <tr>
            <td class="align-middle"><%= order_detail.item.name %></td>
            <td class="align-middle"><%= order_detail.item.with_tax_price %></td>
            <td class="align-middle"><%= order_detail.amount %></td>
            <td class="align-middle"><%= order_detail.item.with_tax_price * order_detail.amount %></td>
            <td class="align-middle">
              <%= f.select :making_status, OrderDetail.making_statuses_i18n.invert %>
              <%= f.submit "更新", class: "btn btn-success ml-2" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <div class="container">
    <div class="d-flex justify-content-end">
      <div class="d-flex justify-content-between">
        <div>
          <div class="pr-3 py-1 font-weight-bold">商品合計</div>
          <div class="pr-3 py-1 font-weight-bold">送料</div>
          <div class="pr-3 py-1 font-weight-bold">請求金額合計</div>
        </div>
        <div>
          <div class="py-1"><%= @sum %>円</div>
          <div class="py-1">800円</div>
          <div class="py-1"><%= @sum + 800 %>円</div>
        </div>
      </div>
    </div>
  </div>
</div>
