<div class="container">
  <div class="row">
    <%= render 'searches/genre'%>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12 px-sm-0 mt-5">
          <h2>商品一覧(全<%= @item.count %>件)</h2>
        </div>
      </div>
      <div class="row mt-3 mb-3">
        <% @item.each do |item| %>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div class="card w-100 bg-transparent border-0">
              <% if item.image.attached? %>
                <%= link_to image_tag(url_for(item.image), size: "210x150", alt: item.name, class: "card-img-top"), item_path(item)  %>
              <% else %>
                <%= image_tag 'no_image', size: "200x150" %>
              <% end %>
              <div class="card-body">
                <p class="item-details item-name card-text"><%= item.name %></p>
                <% if item.is_active %>
                  <p class="item-details card-text"><%= item.price %>円(税抜)</p>
                <% else %>
                  <p class="text-danger font-weight-bold card-text">販売停止中</p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center">
        <%= paginate @item, class: "pagination justify-content-center" %>
      </div>
    </div>
  </div>
</div>