 何も表示されない為下記を記入しました
 削除しましょう
<div>購入商品詳細消すやつ</div>
 ここまで消す

  <div>
    <%= image_tag @item, :image, width: "60%", format: "jpg", fallback: "no_image.jpg" %>
  </div>
  <div>
    <h2><%= @item.name %></h2>
      <h4><%= simple_format(@item.introduction)%></h4>
      <%  if @item.is_active == true %>
        <p>販売中</p>
        <h3>¥ <%= change_introduction(@item.price_introduction) %> (税込)</h3>
        <p><%= render "item_form", cart_item: @cart_item, item: @item %></p>
      <% else %>
        <h3>販売停止中です</h3>
      <% end %>
  </div> 