<div class="container mt-5 mb-5">
	<div class="row text-center text-xs-center text-sm-left text-md-left ">
    <div class="col-xs-12 col-sm-12 col-md-6 mx-auto text-right">
  <% if @item.image.attached? %>
    <%= image_tag @item.image, size: "300x300" %>
  <% else %>
    <%= image_tag "no_image.jpg", size: "300x300" %>
  <% end %>
</div>
<div>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <th scope="row">商品名</th>
        <td><%= @item.name %></td>
      </tr>
      <tr>
        <th scope="row">商品説明</th>
        <td><%= simple_format(@item.introduction) %></td>
      </tr>
      <tr>
        <th scope="row">販売ステータス</th>
        <td>
          <% if @item.is_active == true %>
            <p>販売中</p>
            <% if customer_signed_in? %>
              <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
                <%= f.hidden_field :item_id, value: @item.id %><br>
                <%= f.select :amount, options_for_select([['選択してください', '']] + (1..10).to_a), {}, {class: "select-class"} %>
                <%= f.submit 'カートに入れる', class: "btn-sm btn-success" %>
              <% end %>
            <% else %>
              <p>ログインしてください。</p>
            <% end %>
          <% else %>
            <p>販売停止</p>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>